{% extends 'base.html.twig' %}

{% block title %}{{ 'user_title_edit_page'|trans }}{% endblock %}

{% block body %}
<h1 class="fontUbuntu orange-skb text-center p-1">Modifier un utilisateur</h1>
<edit-user :utilisateur-id="{{ utilisateurId }}" ></edit-user>
{% endblock %}
