{% extends 'base.html.twig' %}

{% block title %}Hello ExampleController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/prog/projets/sakabay/sakabay/src/Controller/ExampleController.php'|file_link(0) }}">src/Controller/ExampleController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/prog/projets/sakabay/sakabay/templates/example/index.html.twig'|file_link(0) }}">templates/example/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
