{% extends 'base.html.twig' %}

{% block title %}{{ 'company_registered_title_form_page'|trans }}{% endblock %}

{% block body %}
<h1 class="fontUbuntuItalic orange-skb text-center p-1">{{ 'company_registered_title_form_page'|trans }}</h1>
<company-admin-form
:company-id="{{ companyId }}"
:is-validated="{{ isValidated|json_encode }}"
></company-admin-form>
{% endblock %}
