// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/*---------------------------------
    VARIABLES
-----------------------------------*/
$yellow_light_color: #f2d785;
$blue_light_color:#2798a0;
$grey_light_color: #e5e5e5;
$grey_light_2_color: #a2acba;
$yellow_login_color: #f39c12;
$blue_logo_color: #60a3bc;
$orange_login_color: #c0392b;

$green_color: #038c3e;
$yellow_color: #F2A413;
$orange_color: #F26513;
$red_color: #8C1B24;
$white_color: #fff;
$black_color: #000;

/*---------------------------------
    Couleurs
-----------------------------------*/


body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

// Style title
.text-center {
  text-align: center;
}

.navbar {
  background: $yellow_login_color;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed $green_color;
  margin: 40px 0;
}

/*---------------------------------
    HEADINGS & FONTS
-----------------------------------*/
@font-face {
  font-family: 'PatuaOneSKB';
  src: url('../fonts/PatuaOne-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Oblique';
  src: url('../fonts/Helvetica-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fontPatua {
  font-family: 'PatuaOneSKB', sans-serif !important;
}

.fontUbuntu {
  font-family: 'Ubuntu', sans-serif !important;
}

.fontSideBar {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bolder;
}

.fontHelvetica {
  font-family: 'Helvetica', 'sans-serif' !important;
}

.fontHelveticaOblique {
  font-family: 'Helvetica-Oblique', 'sans-serif' !important;
}

.fontHelveticaBold {
  font-family: 'Helvetica-Bold', 'sans-serif' !important;
}

.fontArial {
  font-family: Arial, Helvetica, sans-serif !important;
}

.fontSize10 {
  font-size: 0.625em !important;
}

.fontSize11 {
  font-size: 0.7em !important;
}

.fontSize12 {
  font-size: 0.75em !important;
}

.fontSize13 {
  font-size: 0.8em !important;
}

.fontSize14 {
  font-size: 0.875em !important;
}

.fontSize15 {
  font-size: 0.95em !important;
}

.fontSize16 {
  font-size: 1em !important;
}

.fontSize17 {
  font-size: 1.05em !important;
}

.fontSize18 {
  font-size: 1.125em !important;
}

.fontSize19 {
  font-size: 1.2em !important;
}

.fontSize20 {
  font-size: 1.25em !important;
}

.fontSize21 {
  font-size: 1.3em !important;
}

.fontSize22 {
  font-size: 1.4em !important;
}

.fontSize24 {
  font-size: 1.5em !important;
}

.fontSize26 {
  font-size: 1.6em !important;
}

.fontSize32 {
  font-size: 2em !important;
}

.fontSize36 {
  font-size: 2.25em !important;
}

.fontSize40 {
  font-size: 2.45em !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: $white_color;
  color: $black_color;
  transition: all 0.3s;
  // overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: $white_color;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: $white_color;
  color: $orange_color;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 34px 20px 20px 10px;
  background: $white_color;
  border-bottom: 1px solid $grey_light_2_color;
  margin-bottom: 10px;
}

.menu-category {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold;
  text-decoration: underline;
  color: $orange_login_color;
}

.menu-category .menu-sub-category li {
  padding: 10px 0px 10px 2px;
}

.menu-sub-link li {
  padding: 0px 0px 5px 15px;
}

.menu-sub-category li.active {
  padding: 5px 0px 5px 0px;
}

#sidebar ul li a:hover {
  color: $yellow_login_color;
}

a[data-toggle="collapse"] {
  position: relative;
}

.logo-home-user {
  position: fixed;
  top: 0;
  left: 50px;
}

.logo-home-user img {
  width: 50px;
  height: 50px;
}

.logo-home {
  position: fixed;
  top: 0;
  left: 0;
}

.logo-home img {
  width: 50px;
  height: 50px;
}

.logo-size-50 {
  width: 50px;
  height: 50px;
}

.logo-size-75 {
  width: 75px;
  height: 75px;
}

.logo-size-100 {
  width: 100px;
  height: 100px;
}

.user-info {
  overflow-wrap: anywhere;
}

/**************************
* SAKABAY STYLE
***************************/

.headerMain {
  height: 50px;
}

.headerMain .navbar {
  height: 50px;
}

.fixed-sous-nav {
  background-color: white;
  border-color: $grey_light_color;
  border-bottom: 1px solid $grey_light_color;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 998;
}

.sous-nav-bar-item {
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.sous-nav-bar-item:hover {
  background-color: $grey_light_color;
}

//Width
.w-50px {
  width: 50px;
}

/*---------------------------------
    back-ground-color
-----------------------------------*/
.green-bg-skb {
  background-color: $green_color; //remettre du vert ou changer le nom de la classe et changer partout où elle est appelée dans le projet.
}

/*---------------------------------
    border-color
-----------------------------------*/

.border-danger-skb {
  border-color: $red_color !important;
}

/*---------------------------------
    Couleurs
-----------------------------------*/
.yellow-skb {
  color: $yellow_light_color;
}

.yellow2-skb {
  color: $yellow_color;
}

.orange-skb {
  color: $orange_color;
}

.red-skb {
  color: $red_color;
}

/*---------------------------------
    Bouttons de l'apli
-----------------------------------*/

.btn-menu {
  color: $yellow_light_color;
  width: 50px;
  height: 50px;
  background-color: $yellow_login_color;
  border-color: transparent;
}

.btn-menu:hover {
  color: $white_color;
  background-color: $green_color;
}

.btn-user {
  position: fixed;
  right: 50px;
  color: $yellow_light_color;
  width: 50px;
  height: 50px;
  background-color: $yellow_login_color;
}

.btn-user:hover {
  color: $white_color;
  background-color: $green_color;
}

.btn-close {
  position: absolute;
  width: 50px;
  margin: 0.4rem;
  height: 50px;
  z-index: 1;
  background-color: $yellow_login_color;
}

.btn-close:hover {
  color: $white_color;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  box-shadow: none !important;
}

.btn-connect {
  position: fixed;
  right: 0px;
  color: $yellow_light_color;
  width: 50px;
  height: 50px;
  background-color: $yellow_login_color;
}

.btn-connect:hover {
  color: $white_color;
  background-color: $green_color;
}

.btn-register {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: $green_color;
  color: $yellow_light_color;
}

.icon-user {
  width: 30px !important;
  height: 30px;
  color: inherit;
  background-color: transparent;
}

.icon-login {
  width: 25px !important;
  height: 25px;
  color: inherit;
  background-color: transparent;
}

.icon-menu {
  width: 23px !important;
  height: 23px;
  color: inherit;
  background-color: transparent;
}

.icon-menu:hover {
  color: inherit;
  background-color: transparent;
}


.icon-user:hover {
  color: inherit;
  background-color: transparent;
}

.icon-login:hover {
  color: inherit;
  background-color: transparent;
}

/********************************
* STYLE LOGIN
********************************/

.inscription {
  text-decoration: underline;
  color: blue;
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: $yellow_login_color;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.brand_logo_container {
  position: absolute;
  top: -75px;
  padding: 10px;
}

.brand_logo {
  height: 150px;
  width: 150px;
}

.form_container {
  margin-top: 100px;
}

.button_skb {
  width: 100%;
  background: $orange_login_color !important;
  color: white !important;
  border-color: $orange_login_color !important;
}

.button_skb:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: $orange_login_color !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: $orange_login_color !important;
}

.card-login-pt {
  padding-top: 7rem !important;
}

/*---------------------------------
    register style
-----------------------------------*/

.register-card {
  height: 600px;
  margin: 0 auto;
  width: 500px;
  background: $yellow_login_color;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.brand_logo_container_register {
  position: absolute;
  top: -175px;
  padding: 10px;
}

.card-register-pt {
  padding-top: 9.5rem !important;
}

.form-control {
  height: 40px;
  box-shadow: none;
  color: #969fa4;
}

.form-control:focus {
  border-color: #5cb85c;
}

.form-control,
.btn {
  border-radius: 3px;
}

.register-card h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}

.register-card h2:before,
.register-card h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.register-card h2:before {
  left: 0;
}

.register-card h2:after {
  right: 0;
}

.register-card .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}

.register-card form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.register-card .form-group {
  margin-bottom: 20px;
}

.register-card input[type="checkbox"] {
  margin-top: 3px;
}

.register-card .btn {
  font-size: 16px;
  min-width: 140px;
  outline: none !important;
}

.register-card .row div:first-child {
  padding-right: 10px;
}

.register-card .row div:last-child {
  padding-left: 10px;
}

.register-card a:hover {
  text-decoration: none;
}

.register-card form a {
  color: #5cb85c;
  text-decoration: none;
}

.register-card form a:hover {
  text-decoration: underline;
}

.error-message {
  font-weight: bold;
}

.form_container {
  margin-top: 130px;
}

.login_container {
  padding: 0 2rem;
}

.logout-btn {
  color: $red_color;
  text-decoration: underline;
}

.logout-btn:hover {
  color: $yellow_login_color;
}

.edit_account {
  color: $red_color;
}

.edit_account:hover {
  color: $yellow_login_color;
}

.input-group-text {
  background: $orange_login_color !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: $orange_login_color !important;
}

.card-login-pt {
  padding-top: 7rem !important;
}

.inscription {
  text-decoration: underline;
  color: blue;
}

.footer-skb {
  background-color: $yellow_login_color;
}

.tablestyle {
  border-block-end-style: dashed;
  border-block-color: $orange_color;
}

.tableitem {
  background-color: $yellow_login_color;
}

.col-size-4 {
  width: 4%;
}

.col-size-5 {
  width: 5%;
}

.col-size-9 {
  width: 9%;
}

.col-size-10 {
  width: 10%;
}

.col-size-20 {
  width: 20%;
}

.col-size-30 {
  width: 30%;
}

.col-size-40 {
  width: 40%;
}

.col-size-50 {
  width: 50%;
}

/*---------------------------------
    Pagination overwrite
-----------------------------------*/

.page-item.active .page-link {
  background-color: $yellow_login_color !important;
  border-color: $yellow_login_color !important;
}

.page-item:hover {
  color: $orange_login_color !important;
}

.page-link {
  color: $orange_login_color !important;
}
