// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
/*
    DEMO STYLE
*/

@import "~leaflet/dist/leaflet.css";
@import "~vue2-editor/dist/vue2-editor.css";

/* Import the Quill styles you want */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
/*---------------------------------
    VARIABLES
-----------------------------------*/
$blue_light_color:#2798a0;
$blue_logo_color: #60a3bc;
$blue_gradient: #a4e2f8;

$grey_light_color: #e5e5e5;
$grey_light_2_color: #a2acba;
$grey: #999;
$grey_body: #f1f1f1;
$grey_icon: #c5c9cc;

$yellow_light_color: #f2d785;
$yellow_login_color: #f39c12;
$yellow_gradient: #eeb861;
$yellow_color: #F2A413;

$orange_color: #F26513;
$orange_login_color: #c0392b;
$orange_light_color:#fd9999;

$red_color: #8C1B24;

$green_color: #038c3e;
$green_light_color: #6be6a0;

$white_color: #fff;
$black_color: #000;

body {
  font-family: 'Alice', sans-serif;
  background-color: $grey_body;
}

p {
  font-family: 'Alice', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

h1,
h2 {
  font-weight: bold;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

// Style title
.text-center {
  text-align: center;
}

.navbar {
  background: linear-gradient($yellow_login_color, $yellow_gradient, $yellow_gradient);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

// .line {
//   width: 100%;
//   height: 1px;
//   border-bottom: 1px dashed $green_color;
//   margin: 40px 0;
// }

/*---------------------------------
    HEADINGS & FONTS
-----------------------------------*/
@font-face {
  font-family: 'PatuaOneSKB';
  src: url('../fonts/PatuaOne-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Oblique';
  src: url('../fonts/Helvetica-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'UbuntuItalic';
  src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alice';
  src: url('../fonts/Alice-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fontPatua {
  font-family: 'PatuaOneSKB', sans-serif !important;
}

.fontUbuntuItalic {
  font-family: 'UbuntuItalic', sans-serif !important;
}

.fontSideBar {
  font-family: 'UbuntuItalic', sans-serif !important;
  font-weight: bolder;
}

.fontHelvetica {
  font-family: 'Helvetica', 'sans-serif' !important;
}

.fontHelveticaOblique {
  font-family: 'Helvetica-Oblique', 'sans-serif' !important;
}

.fontHelveticaBold {
  font-family: 'Helvetica-Bold', 'sans-serif' !important;
}

.fontUbuntu {
  font-family: 'Ubuntu', 'sans-serif' !important;
}

.fontAlice {
  font-family: 'Alice', 'sans-serif' !important;
}

.fontPoppins {
  font-family: 'Poppins', 'serif' !important;
}

.fontArial {
  font-family: Arial, Helvetica, sans-serif !important;
}

.fontSize10 {
  font-size: 0.625em !important;
}

.fontSize11 {
  font-size: 0.7em !important;
}

.fontSize12 {
  font-size: 0.75em !important;
}

.fontSize13 {
  font-size: 0.8em !important;
}

.fontSize14 {
  font-size: 0.875em !important;
}

.fontSize15 {
  font-size: 0.95em !important;
}

.fontSize16 {
  font-size: 1em !important;
}

.fontSize17 {
  font-size: 1.05em !important;
}

.fontSize18 {
  font-size: 1.125em !important;
}

.fontSize19 {
  font-size: 1.2em !important;
}

.fontSize20 {
  font-size: 1.25em !important;
}

.fontSize21 {
  font-size: 1.3em !important;
}

.fontSize22 {
  font-size: 1.4em !important;
}

.fontSize24 {
  font-size: 1.5em !important;
}

.fontSize26 {
  font-size: 1.6em !important;
}

.fontSize32 {
  font-size: 2em !important;
}

.fontSize36 {
  font-size: 2.25em !important;
}

.fontSize40 {
  font-size: 2.45em !important;
}

.fontW600 {
  font-weight: 600;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: $white_color;
  color: $black_color;
  transition: all 0.3s;
  // overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: $white_color;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: $white_color;
  color: $orange_color;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 34px 20px 20px 10px;
  background: $white_color;
  border-bottom: 1px solid $grey_light_2_color;
  margin-bottom: 10px;
}

.menu-category {
  font-family: 'UbuntuItalic', sans-serif !important;
  font-weight: bold;
  text-decoration: underline;
  color: $orange_login_color;
}

.menu-category .menu-sub-category li {
  padding: 10px 0px 10px 2px;
}

.menu-sub-link li {
  padding: 0px 0px 5px 15px;
}

.menu-sub-category li.active {
  padding: 5px 0px 5px 0px;
}

#sidebar ul li a:hover {
  color: $yellow_login_color;
}

a[data-toggle="collapse"] {
  position: relative;
}

.logo-home-user {
  position: fixed;
  top: 0;
  left: 50px;
}

.logo-home-user img {
  width: 50px;
  height: 50px;
}

.logo-home {
  position: fixed;
  top: 0;
  left: 0;
}

.logo-home img {
  width: 50px;
  height: 50px;
}

.logo-size-50 {
  width: 50px;
  height: 50px;
}

.logo-size-75 {
  width: 75px;
  height: 75px;
}

.logo-size-100 {
  width: 100px;
  height: 100px;
}

.user-info {
  overflow-wrap: anywhere;
}

/**************************
* SAKABAY STYLE
***************************/

.headerMain {
  height: 50px;
  background-color: $yellow_login_color;
}

.headerMain .navbar {
  height: 50px;
}

.fixed-sous-nav {
  background-color: white;
  border-color: $grey_light_color;
  border-bottom: 1px solid $grey_light_color;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 998;
}

.sous-nav-bar-item {
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.sous-nav-bar-item:hover {
  background-color: $grey_light_color;
}

.border {
  border: solid 1px #dee2e5 !important;
}

.search {
  background-color: $white_color;
  border-radius: 5px;
}

//Width
.w-50px {
  width: 50px;
}

/*---------------------------------
    back-ground-color
-----------------------------------*/
.green-bg-skb {
  background-color: $green_color; //remettre du vert ou changer le nom de la classe et changer partout où elle est appelée dans le projet.
}

.white-bg-skb {
  background-color: $white_color;
}

.yellow-bg-skb {
  background-color: $yellow_login_color;
}

.grey-bg-skb {
  background-color: $grey_icon
}

.yellow-gradiant {
  background: linear-gradient($yellow_light_color, $yellow_login_color, $yellow_light_color);
}

.blue-gradiant {
  background: linear-gradient($blue_gradient, $blue_logo_color, $blue_gradient);
}

.orange-gradiant {
  background: linear-gradient($orange_light_color, $orange_login_color, $orange_light_color);
}

.green-gradiant {
  background: linear-gradient($green_light_color, $green_color, $green_light_color);
}

/*---------------------------------
    border-color
-----------------------------------*/

.border-danger-skb {
  border-color: $red_color !important;
}

/*---------------------------------
    Couleurs
-----------------------------------*/
.yellow-skb {
  color: $yellow_light_color;
}

.yellow2-skb {
  color: $yellow_color;
}

.orange-skb {
  color: $orange_color;
}

.orange-login-skb {
  color: $orange_login_color;
}

.red-skb {
  color: $red_color;
}

.green-skb {
  color: $green_color;
}

.yellow-login-skb {
  color: $yellow_login_color;
}

.grey-skb {
  color: $grey_icon;
}

.white-skb {
  color: $white_color;
}

.black-skb {
  color: $black_color;
}

.blue-skb {
  //   $blue_light_color:#2798a0;
  // $blue_logo_color: #60a3bc;
  color: $blue_logo_color;
}

/*---------------------------------
    Bouttons de l'apli
-----------------------------------*/

.btn-menu {
  color: $yellow_light_color;
  width: 50px;
  height: 50px;
  background: linear-gradient($yellow_login_color, $yellow_gradient, $yellow_gradient);
  border-color: transparent;
  border: none !important;
}

.btn-menu:hover {
  color: $white_color;
  background: linear-gradient($yellow_login_color, $yellow_login_color, $yellow_gradient);
  opacity: 1.33;
}

.btn-user {
  position: fixed;
  right: 50px;
  color: $yellow_light_color !important;
  width: 50px;
  height: 50px;
  background: linear-gradient($yellow_login_color, $yellow_gradient, $yellow_gradient);
  padding-top: 12px;
  border: none !important;
}

.btn-user:hover {
  color: $white_color;
  background: linear-gradient($yellow_login_color, $yellow_login_color, $yellow_gradient);
  opacity: 1.33
}

.btn-close {
  position: absolute;
  width: 50px;
  margin: 0.4rem;
  height: 50px;
  z-index: 1;
  background-color: transparent;
}

.btn-close:hover {
  color: $white_color;
}

.btn-delete {
  background-color: $orange_login_color;
  color: $white_color;
  border-color: $orange_login_color;
}

.btn-delete:hover {
  color: $white_color;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  box-shadow: none !important;
}

.btn-connect {
  position: fixed;
  right: 0px;
  color: $yellow_light_color !important;
  width: 50px;
  height: 50px;
  background: linear-gradient($yellow_login_color, $yellow_gradient, $yellow_gradient);
  padding-top: 10px;
  border: none !important;
}

.btn-connect:hover {
  color: $white_color;
  background: linear-gradient($yellow_login_color, $yellow_login_color, $yellow_gradient);
}

.btn-register {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: $green_color;
  color: $yellow_light_color;
}

.icon-user {
  width: 30px !important;
  height: 30px;
  color: inherit;
  background-color: transparent;
}

.icon-login {
  width: 25px !important;
  height: 25px;
  color: inherit;
  background-color: transparent;
}

.icon-menu {
  width: 23px !important;
  height: 23px;
  color: inherit;
  background-color: transparent;
}

.icon-menu:hover {
  color: inherit;
  background-color: transparent;
}


.icon-user:hover {
  color: inherit;
  background-color: transparent;
}

.icon-login:hover {
  color: inherit;
  background-color: transparent;
}

.btn-back {
  position: absolute;
  width: 100px;
  margin: 0.4rem;
  height: 40px;
  z-index: 1;
  background-color: $white_color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid transparent;
}

.btn-back:hover {
  color: $yellow_login_color;
}

/********************************
* STYLE LOGIN
********************************/

.link {
  text-decoration: underline;
  color: blue;
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: linear-gradient($yellow_login_color, $yellow_gradient, $yellow_login_color);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.brand_logo_container {
  position: absolute;
  top: -75px;
  padding: 10px;
}

.brand_logo {
  height: 150px;
  width: 150px;
}

// Red one
.button_skb {
  width: 100%;
  background: $orange_login_color !important;
  color: white !important;
  border-color: $orange_login_color !important;
  white-space: normal !important;
}

.button_skb:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.button_skb:hover {
  background: red !important;
}

// Blue one
.button_skb_blue {
  width: 100%;
  background: $blue_light_color !important;
  color: white !important;
  border-color: $blue_light_color !important;
  white-space: normal !important;
}

.button_skb_blue:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.button_skb_blue:hover {
  background: $blue_logo_color !important;
}

// yellow one
.button_skb_yellow {
  width: 100%;
  background: $yellow_login_color !important;
  color: white !important;
  border-color: $yellow_login_color !important;
  white-space: normal !important;
}

.button_skb_yellow:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.button_skb_yellow:hover {
  background: $yellow_color !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: $orange_login_color !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: $orange_login_color !important;
}


/*---------------------------------
    register style
-----------------------------------*/

.register-card {
  height: 600px;
  margin: 1rem auto;
  width: 500px;
  background: linear-gradient($yellow_login_color, $yellow_gradient, $yellow_login_color);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.brand_logo_container_register {
  position: absolute;
  top: -175px;
  padding: 10px;
}

.card-register-pt {
  padding-top: 9.5rem !important;
}

.form-control {
  height: 40px;
  box-shadow: none;
  color: #969fa4;
}

.form-control:focus {
  border-color: #5cb85c;
}

.form-control:disabled {
  background-color: #ededed !important;
  opacity: 0.6 !important;
}

.form-control,
.btn {
  border-radius: 3px;
  white-space: normal !important;
}

.register-card h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}

.register-card h2:before,
.register-card h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.register-card h2:before {
  left: 0;
}

.register-card h2:after {
  right: 0;
}

.register-card .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}

.register-card form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.register-card .form-group {
  margin-bottom: 20px;
}

.register-card input[type="checkbox"] {
  margin-top: 3px;
}

.register-card .button_skb {
  font-size: 16px;
  min-width: 60px;
  outline: none !important;
}

.register-card a:hover {
  text-decoration: none;
}

.register-card form a {
  color: #5cb85c;
  text-decoration: none;
}

.register-card form a:hover {
  text-decoration: underline;
}

.error-message {
  font-weight: bold;

  ul {
    padding: 5px 0px 0px 0px;
  }

  li {
    list-style: none;

  }
}

.warning-message {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.form_container {
  margin-top: 100px;
}

.login_container {
  padding: 0 2rem;
}

.logout-btn {
  color: $red_color;
  text-decoration: underline;
}

.logout-btn:hover {
  color: $yellow_login_color;
}

.edit_account {
  color: $red_color;
}

.edit_account:hover {
  color: $yellow_login_color;
}

.card-login-pt {
  padding-top: 7rem !important;
}

.footer-skb {
  background: linear-gradient($yellow_gradient, $yellow_login_color);
}

//footer sakabay
/** code by webdevtrick ( https://webdevtrick.com ) **/
/*====================
	Footer
====================== */

/* Main Footer */
footer .main-footer {
  padding: 20px 0;
  background: #252525;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
  background: #222;
  padding: 5px 0;
}

.footer-copyright .logo {
  display: inherit;
}

.footer-copyright nav {
  float: right;
  margin-top: 5px;
}

.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}

.footer-copyright nav ul li a {
  color: #969696;
}

.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}

.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
  background: transparent;
}

footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
  background: #f9f9f9;
}

footer.light .main-footer {
  background: #f9f9f9;
}

footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
  display: inline-block;
}

/*====================
	Widgets
====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px;
}

.widget.widget-last {
  margin-bottom: 0px;
}

.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.widget.subscribe p {
  margin-bottom: 18px;
}

.widget li a {
  color: #ff8d1e;
}

.widget li a:hover {
  color: #4b92dc;
}

.widget-title {
  margin-bottom: 20px;
}

.widget-title span {
  background: #839FAD none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%;
}

.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.widget .badge {
  float: right;
  background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff;
}

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}

ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}

ul.social-footer2 li a:hover {
  background-color: #ff8d1e;
}

ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}

.btn-footer {
  background-color: #ff8d1e;
  color: #fff;
}

.tablestyle {
  border-block-end-style: dashed;
  border-block-color: $orange_color;
}

.tableitem {
  background-color: $yellow_login_color;
}

.col-size-3 {
  width: 3%;
}

.col-size-4 {
  width: 4%;
}

.col-size-5 {
  width: 5%;
}

.col-size-6 {
  width: 6%;
}

.col-size-7 {
  width: 7%;
}

.col-size-8 {
  width: 8%;
}

.col-size-9 {
  width: 9%;
}

.col-size-10 {
  width: 10%;
}

.col-size-12 {
  width: 12%;
}

.col-size-20 {
  width: 20%;
}

.col-size-30 {
  width: 30%;
}

.col-size-40 {
  width: 40%;
}

.col-size-50 {
  width: 50%;
}

.minWidth-250px {
  min-width: 250px;
}

.w-90 {
  width: 90%;
}

.pt-5rem {
  padding-top: 5rem;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}


/*---------------------------------
    Pagination overwrite
-----------------------------------*/

.page-item.active .page-link {
  background-color: $yellow_login_color !important;
  border-color: $yellow_login_color !important;
}

.page-item:hover {
  color: $orange_login_color !important;
}

.page-link {
  color: $orange_login_color !important;
}

/*---------------------------------
    Dual List
-----------------------------------*/
.dual-list .list-group {
  height: 350px;
  max-height: 350px;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: block;
}

.list-group-item.active {
  background-color: $orange_login_color;
  z-index: 1 !important;
}

.list-group-item,
.list-group-item:last-child,
.list-group-item:first-child {
  border: 0;
  border-radius: 0;
}

.list-group-item {
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.list-group-item:first-child {
  border-top: 0 !important;
}

.list-group-item:last-child:not(.not-last-lisere) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.selector {
  background-color: $orange_login_color !important;
  color: $white_color !important;
  border-color: $orange_login_color !important;
}

/*---------------------------------
    Autocomplete
-----------------------------------*/
.autocomplete-wrapper[disabled="disabled"]>input {
  pointer-events: none;
  background-color: #FAFAFA;
}

.autocomplete-list {
  border: 1px solid #D9DCE1;
}

.autocomplete-list ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: -40px;
}

.autocomplete-list li {
  padding: 5px 8px;
}

.autocomplete-list li.focus-list {
  background: $orange_login_color;
  color: $white_color;
}

/*---------------------------------
    Company card
-----------------------------------*/

.company-image {
  width: 150px;
  height: 150px;
  border: solid 3px rgba(0, 0, 0, .125);
  float: left;
}

.card-main-info {
  padding-left: 9.3rem;
}

.company-image-2 {
  width: 150px;
  height: 150px;
  border: solid 3px rgba(0, 0, 0, .125);
  float: left;
  margin-right: 1rem;
  margin-top: 1.5rem;
}

.card-main-info-2 {
  padding-left: 11.5rem;
}

/*---------------------------------
    Company Presentation
-----------------------------------*/
.header-main-info {
  margin-left: 10rem;
  margin-top: 1rem;
}

.logo-main-info {
  height: 100px;
  width: 100px;
  float: left;
  border: solid 1px rgba(0, 0, 0, .125);
}

.card-skb {
  background-color: $white_color;
  border-bottom: 1px solid $grey_body;
  padding-bottom: .6rem;
  padding-top: .6rem;
}

.navigation-menu .navigation-link {
  padding: 0.7rem 1.14rem;
  font-weight: 600;
  display: inline-block;
  border-bottom: 4px solid $white_color;
  color: $grey_light_2_color;
}

.navigation-menu .navigation-link:hover {
  background-color: $grey_body;
  color: $black_color;
  border-bottom: 4px solid $yellow_login_color;
}

.navigation-menu .navigation-link-active {
  padding: 0.7rem 1.14rem;
  font-weight: 600;
  display: inline-block;
  border-bottom: 4px solid $yellow_login_color;
}

.details-card {
  padding: 1rem 2.5rem 2.5rem 2.5rem;
}

.description-card {
  padding: 2.5rem;
}

.description-card p {
  text-align: justify;
  color: $black_color;
}

.title-card-skb {
  padding: 0.5rem;
  border-bottom: 1px solid $grey_light_color;
}

.button-row {
  border-left: 1px solid $grey_light_color;
}


/*---------------------------------
    Loader style
-----------------------------------*/
.loader-container-full {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.loader {
  width: 100px;
  height: 100px;
  border: 14px solid $grey_light_color;
  border-top: 12px solid $yellow_login_color;
  border-radius: 50%;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loader 0.75s linear infinite;
}

.loader2 {
  width: 80px;
  height: 80px;
  border: 12px solid $grey_light_color;
  border-top: 10px solid $yellow_login_color;
  border-radius: 50%;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loader 0.75s linear infinite;
}

.loader3 {
  width: 80px;
  height: 80px;
  border: 12px solid $grey_light_color;
  border-top: 10px solid $yellow_login_color;
  border-radius: 50%;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loader 0.75s linear infinite;
}

@keyframes loader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(82deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*---------------------------------
   Dashboard style
-----------------------------------*/

.dashboard {
  font-family: 'Poppins';
}

.dashboard-title {
  display: inline-block;
  width: fit-content;
  padding-right: 0.5rem;
  margin: 0px;
}

.notification-title {
  display: inline-block;
  width: fit-content;
}

.notifications-card {
  background-color: $white_color;
  height: 400px;
  border-radius: 0.75rem;
}

.notification-item {
  list-style-type: none;
}

.notification-item li {
  border-top: solid 1px #dee2e5 !important;
}

.scroll-h300 {
  height: 300px;
}

.scroll-h500 {
  height: 500px;
}

.scroll-h650 {
  height: 650px;
}

.dashboard-link {
  background-clip: content-box;
  height: 200px;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-button {
  text-align: center;
  // margin: 1rem 0 0 0;
  color: $white_color;
}

.navigation-menu .navigation-dashboard-link {
  padding: 0.7rem 1.14rem;
  font-weight: 600;
  display: inline-block;
  border-bottom: 4px solid $grey_light_2_color;
  color: $grey_light_2_color;
}

.navigation-menu .navigation-dashboard-link:hover {
  background-color: $grey_body;
  color: $black_color;
  border-bottom: 4px solid $yellow_login_color;
}

.navigation-menu .navigation-dashboard-link-active {
  padding: 0.7rem 1.14rem;
  font-weight: 600;
  display: inline-block;
  border-bottom: 4px solid $yellow_login_color;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.no-cursor {
  cursor: not-allowed !important;
}

// Multiselect rework

.multiselect__option--highlight {
  background: $blue_logo_color;
  color: #fff;
  outline: none;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: $blue_logo_color;
  color: #fff
}

.multiselect__option--selected {
  background: #f3f3f3;
  color: #35495e;
  font-weight: 700
}

.multiselect__option--selected:after {
  content: attr(data-selected);
  color: silver
}

.multiselect__option--selected.multiselect__option--highlight {
  background: $yellow_login_color;
  color: #fff
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: $yellow_login_color;
  content: attr(data-deselect);
  color: #fff
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 4px 26px 4px 10px;
  border-radius: 200em;
  margin-right: 10px;
  color: #fff;
  line-height: 1;
  background: $blue_logo_color;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis
}

.multiselect__tag_no_icon {
  position: relative;
  display: inline-block;
  padding: 4px 10px 4px 10px;
  border-radius: 200em;
  margin-right: 10px;
  color: #fff;
  line-height: 1;
  background: $blue_logo_color;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis
}

.multiselect__tag-icon {
  cursor: pointer;
  margin-left: 7px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 700;
  font-style: normal;
  width: 22px;
  text-align: center;
  line-height: 18px;
  transition: all .2s ease;
  border-radius: 200em;
}

.multiselect__tag-icon:after {
  content: "\D7";
  color: #B4B4B4;
  font-size: 14px
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: #6F81A5
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
  color: #fff
}
