{% extends 'base.html.twig' %}

{% block title %}{{ 'user_title_edit_page'|trans }}{% endblock %}

{% block body %}
<a href="/company/new"><h1 class="fontUbuntu orange-skb text-center p-1">créer entreprise</h1>
</a>

{% endblock %}
