{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1  class="fontUbuntu orange-skb text-center p-1">{{ "user_title_page"|trans}}</h1>
    <list-user></list-user>
{% endblock %}
