{% extends 'base.html.twig' %}

{% block title %}{{ 'city_title_list_page'|trans }}{% endblock %}

{% block body %}

<div class="role-wrapper">
    <list-city
    :can-create="{{ canCreate|json_encode }}"
    :can-read="{{ canRead|json_encode }}"
    :can-edit="{{ canEdit|json_encode }}"
    ></list-city>
</div>
{% endblock %}
