{% extends 'base.html.twig' %}

{% block title %}{{ 'edit_account'|trans }}{% endblock %}

{% block body %}
<h1 class="fontUbuntuItalic orange-skb text-center p-1">{{ 'edit_account'|trans }}</h1>
<edit-account
:utilisateur-id="{{ utilisateurId }}"
url-precedente="{{ urlPrecedente }}"></edit-account>
{% endblock %}
