{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!{% endblock %}

{% block body %}


 {# <navbar v-for="type in types" :key="type"
          :type="type"
          :transparent="false"
          menu-classes="ml-auto"
          position="relative">
       <a class="navbar-brand" href="#"><i class="now-ui-icons users_single-02"></i></a>
       <template slot="navbar-menu">
         <li class="nav-item active">
           <a class="nav-link" href="#pablo">
             <i class="now-ui-icons objects_globe"></i>
             <p>Discover</p>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#pablo">
             <i class="now-ui-icons users_circle-08"></i>
             <p>Profile</p>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#pablo">
             <i class="now-ui-icons ui-1_settings-gear-63"></i>
             <p>Settings</p>
           </a>
         </li>
        </template>
   </navbar> #}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/prog/projets/sakabay/src/Controller/UtilisateurController.php'|file_link(0) }}">src/Controller/UtilisateurController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/prog/projets/sakabay/templates/utilisateur/index.html.twig'|file_link(0) }}">templates/utilisateur/index.html.twig</a></code></li>
    </ul>
</div>

<div id="app">
</div>
<toto></toto>
{% endblock %}
