{% extends 'base.html.twig' %}

{% block title %}{{ 'company_refused_title_form_page'|trans }}{% endblock %}

{% block body %}
<h1 class="fontUbuntuItalic orange-skb text-center p-1">{{ 'company_refused_title_form_page'|trans }}</h1>
<company-admin-form
:company-id="{{ companyId }}"
url-precedente="{{ urlPrecedente }}"
></company-admin-form>
{% endblock %}
