{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="text-center p-3 error-body">
    <h1>{{ 'error_notfound_menu'|trans }}</h1>
    <p>
      {{ 'error_notfound_message'|trans }} <a class="inscription" href="{{ path('home') }}">{{ 'error_notfound_message_link'|trans }}</a>.
    </p>
  </div>
</div>
{% endblock %}
