App\Domain\Model\Besoin:
    type: entity
    table: besoin
    repositoryClass: App\Infrastructure\Repository\BesoinRepository
    options:
        comment: Entité représentant un Besoin.

    id:
        id:
            type: integer
            generator:
                strategy: AUTO
            options:
                comment: Identifiant technique d'un besoin
    fields:
        title:
            type: string
            length: 191
            column: title
            nullable: false
        description:
            type: string
            length: 2000
            column: description
            nullable: false
        dtCreated:
            type: datetime
            gedmo:
                timestampable:
                    on: create
            options:
                default: CURRENT_TIMESTAMP
        dtUpdated:
            type: datetime
            gedmo:
                timestampable:
                    on: update
            options:
                default: CURRENT_TIMESTAMP
    manyToOne:
        category:
            targetEntity: Category
            cascade: [persist]
            inversedBy: besoins
            joinColumn:
                name: id_category
                referencedColumnName: id
                nullable: false
        author:
            targetEntity: Utilisateur
            cascade: [persist]
            inversedBy: besoins
            joinColumn:
                name: id_author
                referencedColumnName: id
                nullable: false
        besoinStatut:
            targetEntity: BesoinStatut
            cascade: [persist]
            inversedBy: besoins
            joinColumn:
                name: id_besoin_statut
                referencedColumnName: id
                nullable: false
    manyToMany:
        sousCategorys:
            targetEntity: SousCategory
            inversedBy: besoins
            joinTable:
                name: besoin_sous_categories
                joinColumn:
                    id_sous_category:
                        referencedColumnName: id
                inverseJoinColumns:
                    id_besoin:
                        referencedColumnName: id
            nullable: false


