{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

  <div>
    <badge-primary href="#" type="primary">Primary</badge-primary>
    <badge href="#" type="info">Info</badge>
    <badge href="#" type="success">Success</badge>
    <badge href="#" type="danger">Danger</badge>
    <badge href="#" type="warning">Warning</badge>
    <badge href="#" type="default">Default</badge>
  </div>

 <navbar v-for="type in types" :key="type"
          :type="type"
          :transparent="false"
          menu-classes="ml-auto"
          position="relative">
       <a class="navbar-brand" href="#"><i class="now-ui-icons users_single-02"></i></a>
       <template slot="navbar-menu">
         <li class="nav-item active">
           <a class="nav-link" href="#pablo">
             <i class="now-ui-icons objects_globe"></i>
             <p>Discover</p>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#pablo">
             <i class="now-ui-icons users_circle-08"></i>
             <p>Profile</p>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#pablo">
             <i class="now-ui-icons ui-1_settings-gear-63"></i>
             <p>Settings</p>
           </a>
         </li>
        </template>
   </navbar>
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/prog/projets/sakabay/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/prog/projets/sakabay/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
    </ul>
</div>

<div ref="words" data-words="{{ words|join(',') }}">
1
</div>

<div id="app">
    <app></app>
</div>
<toto></toto>
<form></form>
{% endblock %}