{% extends 'base.html.twig' %}

{% block title %}{{ 'fonction_title_form_page'|trans }}{% endblock %}

{% block body %}
<h1 class="fontUbuntu orange-skb text-center p-1">{{ 'fonction_title_form_page'|trans }}</h1>
<form-fonction></form-fonction>
{% endblock %}
