{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div ref="words" data-words="{{ words|join(',') }}">

</div>
    <list-test></list-test>
{% endblock %}